<!DOCTYPE html>
<html>
    <head>
        <title>Parcels Form</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <form action="/parcels">
            <div class="form-group">
                <label for="weight">How many pounds is your parcel? </label>
                <input type="text" id="weight" class="form-control" name="weight">
            </div>
            <div class="form-group">
                <label for="length">What is the length of your parcel? (in inches) </label>
                <input type="text" id="length" class="form-control" name="length">
            </div>
            <div class="form-group">
                <label for="width">What is the width of your parcel? (in inches) </label>
                <input type="text" id="width" class="form-control" name="width">
            </div>
            <div class="form-group">
                <label for="height">What is the height of your parcel? (in inches)</label>
                <input type="text" id="height" class="form-control" name="height">
            </div>
            <button type="submit" class="btn">Submit!</button>
        </form>
    </body>
